@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223.8136 0.0005% 98.6829%;
    --foreground: 0 0% 0%;
    --card: 223.8136 -172.5242% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 223.8136 0.0005% 98.6829%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 223.8136 -172.5242% 100%;
    --secondary: 223.8136 0.0001% 92.1478%;
    --secondary-foreground: 0 0% 0%;
    --muted: 223.8136 0.0002% 96.0587%;
    --muted-foreground: 223.8136 0% 32.3067%;
    --accent: 223.8136 0.0001% 92.1478%;
    --accent-foreground: 0 0% 0%;
    --destructive: 358.4334 74.912% 59.7455%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0.0001% 89.5577%;
    --input: 223.8136 0.0001% 92.1478%;
    --ring: 0 0% 0%;
  }

  .dark:root {
    --background: 0 0% 0%;
    --foreground: 223.8136 -172.5242% 100%;
    --card: 223.8136 0% 3.5452%;
    --card-foreground: 223.8136 -172.5242% 100%;
    --popover: 223.8136 0% 6.8692%;
    --popover-foreground: 223.8136 -172.5242% 100%;
    --primary: 223.8136 -172.5242% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 223.8136 0% 13.1499%;
    --secondary-foreground: 223.8136 -172.5242% 100%;
    --muted: 223.8136 0% 11.304%;
    --muted-foreground: 223.8136 0% 64.471%;
    --accent: 223.8136 0% 19.8916%;
    --accent-foreground: 223.8136 -172.5242% 100%;
    --destructive: 359.9132 100.2494% 67.8807%;
    --destructive-foreground: 0 0% 0%;
    --border: 223.8136 0% 14.0871%;
    --input: 223.8136 0% 19.8916%;
    --ring: 223.8136 0% 64.471%;
  }
}
